{{ range $index, $value := $ }}
{{ $logs := $value.Env.LOG_FILES }}
{{ if $logs }}
{{ range $index, $logfile := split $logs "," }}
/var/lib/docker/containers/{{ $value.ID }}/root{{ $logfile }}{{ end}}
{
    daily
    missingok
    rotate 52
    compress
    delaycompress
    notifempty
    copytruncate
}
{{ end }}
/var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
{
    missingok
    rotate 10
    compress
    delaycompress
    notifempty
    copytruncate
    size=100M
}
{{ end }}
