[Akara]
Port={{ akara_port }}
LogLevel={{ akara_log_level }}

[CouchDb]
URL={{ couchdb_url }}
Username={{ couchdb_username }}
Password={{ couchdb_password }}
ItemDatabase={{ couchdb_item_database }}
DashboardDatabase={{ couchdb_dasboard_database }}
ViewsDirectory={{ couchdb_views_directory }}

[Geonames]
Username={{ geonames_username }}

[Bing]
ApiKey={{ bing_api_key }}

[Enrichment]
QueueSize=1
ThreadCount=1

[Alert]
To={{ akara_alert_to }}
From={{ akara_alert_from }}

