[akara-error.log]
datetime_format = {{ datetime_format }}
file = /var/local/akara-run-dir/logs/error.log
buffer_duration = 5000
log_stream_name = {{ name_env }}-{instance_id}-{ip_address}
initial_position = start_of_file
log_group_name = /var/local/akara

[worker-log]
datetime_format = {{ datetime_format }}
file = /var/local/rqworker/worker.log
buffer_duration = 5000
initial_position = start_of_file
log_stream_name = {{ name_env }}-{instance_id}-{ip_address}
initial_position = start_of_file
log_group_name = /var/local/worker
