export REDIS_HOST=54.84.142.143
export REDIS_PORT=6379
export EMAIL_RETURN_ADDRESS=ucldc@cdlib.org
export URL_SOLR={{ solr_url }}
export COUCHDB_URL={{ couchdb_url }}
export COUCHDB_DB={{ couchdb_item_database }}
export COUCHDB_USER={{ couchdb_username }}
export COUCHDB_PASSWORD={{ couchdb_password }}
