export DATA_BRANCH={{ DATA_BRANCH }}
export REDIS_HOST={{ redis_host }}
export REDIS_PORT={{redis_port }}
export EMAIL_RETURN_ADDRESS={{ email_return_address }}
export URL_SOLR={{ solr_url }}
export COUCHDB_URL={{ couchdb_url }}
export COUCHDB_DB={{ couchdb_item_database }}
export COUCHDB_USER={{ couchdb_username }}
export COUCHDB_PASSWORD="{{ couchdb_password }}"
export DPLA_CONFIG_FILE={{ dpla_config_file }}
export URL_SOLR={{ solr_url }}
