export DATA_BRANCH={{ DATA_BRANCH }}
export REDIS_HOST={{ redis_host }}
export REDIS_PORT={{redis_port }}
export RQ_QUEUE=normal{{ name_suffix }}
export EMAIL_RETURN_ADDRESS={{ email_return_address }}
export COUCHDB_URL={{ couchdb_url }}
export COUCHDB_DB={{ couchdb_item_database }}
export COUCHDB_USER={{ couchdb_username }}
export COUCHDB_PASSWORD="{{ couchdb_password }}"
export DPLA_CONFIG_FILE={{ dpla_config_file }}
export URL_SOLR={{ solr_url }}
export SOLR_API_KEY={{ SOLR_API_KEY }}
export FLICKR_API_KEY={{ FLICKR_API_KEY }}
export YOUTUBE_API_KEY={{ YOUTUBE_API_KEY }}

# For IIIF library & Deep Harvest
export PATH_TIFFCP={{ path_tiffcp }}
export PATH_MAGICK_CONVERT={{ path_magick_convert }}
export PATH_KDU_COMPRESS={{ path_kdu_compress }}
export PATH_TIFF2RGBA={{ path_tiff2rgba }}
export PATH_TIFFICC={{ path_tifficc }}
export PATH_FFMPEG={{ path_ffmpeg }}
export PATH_FFPROBE={{ path_ffprobe }}

# For SNS messaging
export ARN_TOPIC_HARVESTING_REPORT={{ arn_topic_harvesting_report }}
