check process rqworker
    with pidfile "{{ dir_run_rqworker }}/rqworker.pid"
    start program "/bin/su - {{ ansible_user }} -c '/home/{{ ansible_user }}/bin/start-rqworker.sh'" with timeout 60 seconds
    stop program "/home/{{ ansible_user }}/bin/stop-rqworker.sh"
