#!/bin/bash

if [[ -n "$DEBUG" ]]; then 
  set -x
fi

set -o pipefail  # trace ERR through pipes
set -o errtrace  # trace ERR through 'time command' and other functions
set -o nounset   ## set -u : exit the script if you try to use an uninitialised variable
set -o errexit   ## set -e : exit the script if any statement returns a non-true return value

. ~/.harvester-env

set +o nounset
. {{ dir_venv }}/bin/activate
set -o nounset

dt=`date '+%Y%m%d_%H%M%S'`

python {{ dir_code }}/harvester/harvester/solr_updater.py \
  $COUCHDB_URL ucldc $URL_SOLR $@ \
  &> {{ dir_run }}/solr_update/log/solr-up-${dt}.out &

disown
