#! /bin/bash
# Run as role user
if [[ -n "$DEBUG" ]]; then 
  set -x
fi
set -x

set -o pipefail  # trace ERR through pipes
set -o errtrace  # trace ERR through 'time command' and other functions
set -o nounset   ## set -u : exit the script if you try to use an uninitialised variable
set -o errexit   ## set -e : exit the script if any statement returns a non-true return value

if [ -e {{ dir_run_rqworker }}/rqworker.pid ]; then
    #is running already?
    worker_pid=`/bin/cat {{ dir_run_rqworker }}/rqworker.pid`
    if ps -A | grep -q "$worker_pid"; then
	echo "worker appears to be running at PID $worker_pid"
        exit 13
    fi
fi

. {{ dir_run_rqworker }}/.harvester-env

cd {{ dir_run_rqworker }}

nohup {{ dir_venv }}/bin/rqworker -c rqw-settings --pid {{ dir_run_rqworker }}/rqworker.pid &> {{ dir_run_rqworker }}/worker.log &
