#! /bin/bash
if [[ -n "$DEBUG" ]]; then 
  set -x
fi

set -o pipefail  # trace ERR through pipes
set -o errtrace  # trace ERR through 'time command' and other functions
set -o nounset   ## set -u : exit the script if you try to use an uninitialised variable
set -o errexit   ## set -e : exit the script if any statement returns a non-true return value

PID_RQW=`/bin/cat {{ dir_run_rqworker }}/rqworker.pid`
kill -s SIGTERM $PID_RQW

sleep 15 # give time for HerokuWorker to send exception

if test -d "/proc/$PID_RQW"; then
    kill -s SIGTERM $PID_RQW
fi

/bin/rm {{ dir_run_rqworker }}/rqworker.pid
