---
ec2_ingest_front: "{{ ec2_ingest_front }}"
ec2_ingest_couchdb: "{{ ec2_ingest_couchdb }}"
ec2_ingest_solr: "{{ ec2_ingest_solr }}"
ec2_ingest_majorTom: "{{ ec2_ingest_majorTom }}"
sec_grp_ingest_private_id: "{{ sec_grp_ingest_private.group_id }}"
