# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

if [ -f ~/.harvester-env ]; then
        . ~/.harvester-env
fi

export PATH=~/workers_local/bin:$PATH

# User specific aliases and functions
alias lt='ls -lrth'
alias h=history
