---
# save the variables for ids created during vpc construction
vpc: {{ vpc }}
sec_grp_default: {{ sec_grp_default }}
main_route_table_id: {{ main_route_table_id }}
sec_grp_front: {{ sec_grp_front }}
